/* .text{color:green;}
.active{color:red;}
.menu{font-size:20px;
  text-decoration: none;
margin:5px 30px;}
.menu:not(.menu.active):hover{
  text-decoration: none;
  color:green;
} */
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
.brand-logo{
  font-family: 'Grand Hotel',cursive;
}
.menu{color: black;}
.mycard{
  margin-top: 30px;
}
.auth-card{padding:20px;
text-align: center;
max-width: 400px;
margin:10px auto;
}
input[type=text]:focus {
  border-bottom: 1px solid rgb(8,93,252) !important;
  box-shadow: 0 1px 0 0 rgb(8,93,252) !important;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.material-icons{cursor: pointer;}
.item{width:30%;
height:30vh;}
.home{margin:20px auto;}
.home-card{max-width:500px;
height: max-content;
margin:26px auto;
}
.create-post{
  padding: 30px;
  text-align: center;
max-width: 500px;
margin:10px auto;
}
#toast-container{
  top:30px !important;
  right:20px !important;
  left :auto !important;
}
.deletes{cursor: pointer;color:blue;}